@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para acessibilidade */
html {
    font-size: 16px; /* Base */
}

body {
    @apply bg-gray-50 text-gray-800 antialiased;
}